</div>
</body>
<% if (typeof validation === 'boolean' && validation) { %>
  <script src="scripts/validation.js"></script>
<% } %>
<% if (typeof copyButton === 'boolean' && copyButton) { %>
  <script src="scripts/copylink.js"></script>
<% } %>
  <script src="scripts/animate.js"></script>
</html>
