<% include ./partials/header %> 
  <a href="/create"><button>Create new poll</button></a>
  <form action="/poll" method="GET">
    <input id="code" name="code" type="text" placeholder="poll code">
    <button type="submit">Enter this poll</button>
  </form>
<% include ./partials/footer %> 